
.icon-github:before { content: '\e800'; } /* '' */
.icon-gmail:before { content: '\e801'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */