// TODO: maybe don't have a sticky footer?
// Just have it at end (no weird need-to-scroll thing on mobile?)

$footer-icon-color: rgba(0, 0, 0, 0.733);
$footer-size: 5vh;

body {
    margin-bottom: $footer-size;
}

// "sticky footer" is the destroyer of dreams
// (no wonder most footers have filled background boxes 
// -- so the overlappping nastiness isn't viewable)
// we'll just give it some breathing room and stop 
// pulling out hair out
.footer {
    & {
        // height: $footer-size + 2vh;
        width: 100%;
        // position: absolute;
        bottom: 0;
        // height: 60px;
        // color: $main-text-color;
        // background-color: $main-background-color;
        // margin-top: $footer-size + 2vh;
        text-align: center;
        line-height: $footer-size;
        height: $footer-size;
    }
    & a {
        color: $footer-icon-color;
        font-size: 2em;
    }
    &   .logo { // links to profiles
        width: 1.5em;
        height: 1.5em;
        margin: 0.2em;
    }
}
