// defaults

$main-text-color: #444;
$main-background-color: #fefefe;
    // absolute font sizes
    // (Let's make these relative to browser default:
    //  100% ~ 16px usually)

$main-font-size-xs: 45%; // for 300px-width devices
$main-font-size-sm: 75%; // ~12px
$main-font-size: 87.5%; // ~14px
$main-font-size-lg: 100%; // ~16px, for larger devices
$main-font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
$link-color: rgb(24, 60, 221);

// in mobile, browser's URL bar pushes everything down
// so if there's not enough content, just have a smaller min-height
$body-min-height: 90vh;



// header

$header-link-color: rgba(51, 73, 170, 0.712);




// footer

$footer-icon-color: rgba(0, 0, 0, 0.733);
$footer-size: 5vh; // leave space at the bottom for footer logos
$footer-bottom-margin: 5vh; //leave breathing room from logos to end of screen



// blog

$blog-link-color: #2123a3;



// relative sizes for bootstrap
// as per https://stackoverflow.com/questions/47747208/bootstrap-4-change-breakpoints
// for now, will leave untouched and have HTML fit to default breakpoints
// but may be worth changing
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1900px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1610px
);

// @import "../node_modules/bootstrap/scss/bootstrap";