@import 'bootstrap.min.css';
// @import 'personal-website-fonts.css';
// @import 'icons.css';

$main-text-color: #444;
$main-background-color: #fefefe;
$header-link-color: rgba(51, 73, 170, 0.712);
$footer-icon-color: rgba(0, 0, 0, 0.733);
$footer-size: 5vh; 



html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
  
body {
    // display: table;
    // display: flex;
    // flex-direction: column;
    color: $main-text-color;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    // font-size: 12px;
    font-size: 10px;
    // font-size: 1vh;
    // line-height: 1.7;
    line-height: 1em;
    padding: 1em;
    // padding-bottom: $footer-size;
    margin-bottom: $footer-size;
    // margin: auto;
    max-width: 100%;
    background-color: $main-background-color;
}



.wrapper {
    width: 90%;
    // height: 95%;
    // margin: 1.5em;
    padding: 1.5em;
    // margin: auto;
    // padding-bottom: $footer-size;
    // vertical-align: center;
}

.brand {
    font-size: 2em;
}

.header {
    & {
        padding-bottom: 3em;
    }
}
.header > .row > ul > li {
    & {
        margin-left: 0.7em; // have some breathing room
            // make links stand out
        font-weight: bold;
        font-size: 1.3em;
    }
    & > a {
        color: $header-link-color;
        // font-weight: bold;

    }

}

// "sticky footer" is the destroyer of dreams
// (no wonder most footers have filled background boxes 
// -- so the overlappping nastiness isn't viewable)
// we'll just give it some breathing room and stop 
// pulling out hair out
.footer {
    & {
        // height: $footer-size + 2vh;
        width: 100%;
        // position: absolute;
        bottom: 0;
        // height: 60px;
        // color: $main-text-color;
        background-color: $main-background-color;
        // margin-top: $footer-size + 2vh;

        text-align: center;
        line-height: $footer-size;
        height: $footer-size;
    }
    & a {
        color: $footer-icon-color;
        font-size: 2em;
    }
}


.main-message {
    & {
        text-align: center;
        font-size: 1.5em;
        line-height: 1.5em;
    }
    & > p.start {
        margin-bottom: 0;
    }
    // logically connected to most recent <p class="start">,
    // but slight breathing room would be nice
    & p.connected { 
    // padding-bottom: 0.1em;
    margin-top: 0.2em;
    // margin-bottom: inherit;
    // padding-top: 0.3em;
    }
}

.logo {
    width: 1.5em;
    height: 1.5em;
    margin: 0.2em;
}


// handle different viewport sizes

// @include media-breakpoint-down(sm) { // not working...
    // for viewports LARGER than min-width
    @media (min-width: 1200px) {
        .wrapper {
            width: 50%;
            padding: 1.5em;
        }
        body {font-size: 12px;}
    }