// defaults for <body>

$main-text-color: #444;
$main-background-color: #fefefe;
    // absolute font sizes
    // (Let's make these relative to browser default:
    //  100% ~ 16px usually)
$main-font-size: 62.5%; // ~10px
$main-font-size-lg: 75%; // ~12px, for larger devices
$main-font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;

// header

$header-link-color: rgba(51, 73, 170, 0.712);


// footer

$footer-icon-color: rgba(0, 0, 0, 0.733);
$footer-size: 5vh; // leave space at the bottom for footer logos
$footer-bottom-margin: 5vh;
    // leave breathing room from logos to end of screen