@import '_vars.scss';

// "sticky footer" is the destroyer of dreams
// (no wonder most footers have filled background boxes 
// -- so the overlappping nastiness isn't viewable)
// we'll just give it some breathing room and stop 
// pulling out hair out
.footer {
    & {
        // height: $footer-size + 2vh;
        width: 100%;
        // position: absolute;
        bottom: 0;
        // height: 60px;
        // color: $main-text-color;
        // background-color: $main-background-color;
        // margin-top: $footer-size + 2vh;
        text-align: center;
        line-height: $footer-size;
        // height: $footer-size + $footer-bottom-margin;
        margin-bottom: $footer-bottom-margin; // breathing room at the bottom
    }
    & a {
        color: $footer-icon-color;
        font-size: 2em;
        // slowly lose opacity (from 1) on hover
        transition: opacity .2s ease-out;
    }
    & a:hover {
        opacity: 0.5;
    }

    &   .logo { // links to profiles
        width: 1.5em;
        height: 1.5em;
        margin: 0.2em;
    }
    // & img::after {
    //     transition: opacity 1s ease;
    // }
    // & img:hover::after {
    //     opacity: 0.5; 
    // }
    // & img:hover {
    //     opacity: 0.1;
    // }
}