@import '_vars.scss';
@import 'wrapper.scss';

.header {
    & {
        padding-bottom: 3em;
        font-family: $main-font-family;
        font-size: $main-font-size;
    }
    & .brand { // i.e., my name
        font-size: 2em;
        height: 2em;
    }
}
.header > .row > ul > li {
    & {
        margin-left: 0.7em; // have some breathing room
            // make links stand out
        font-weight: bold;
        font-size: 1.1em;
    }
    & > a {
        color: $header-link-color;
        // font-weight: bold;

    }

}