@import '_vars';
@import 'wrapper';

.header { 
    & {
        padding-bottom: 3em;
        font-family: $main-font-family;
        font-size: $main-font-size;
    }
    // &   .brand { // i.e., my name
    //     font-size: 3em;
    //     height: 3em;
    //     // font-weight: bold;
    // } 
}

// for some reason, the above declaration for
// .header .brand gets compiled to
// '.header > .brand' in some imports
// let's see if this fixes it for now?
// probably will always want this to be the case
// anyway
.brand {
    font-size: 3em;
    height: 3em;
} 

.header > .row > ul > li {
    & {
        margin-left: 0.7em; // have some breathing room
            // make links stand out
        font-weight: bold;
        font-size: 1.8em;
    }
    & > a {
        color: $header-link-color;
        // font-weight: bold;

    }

}